@import url('https://fonts.cdnfonts.com/css/orbiter-fbs-trial');

:root {
  --ui-1: #434343;
  --p-1: #e0e0e0;
  --navbar: #2a2a2a;
  --font: 'Orbiter FBS Trial', sans-serif;
}

#root, body, html {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 35px;
  left: 0%;
  margin: 0;
  -webkit-app-region: no-drag;
  padding: 0;
  font-family: var(--font);
}
#titlebar {
  height: 35px;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--navbar);
  margin: 0;
  -webkit-app-region: drag;
  padding: 0;
}
#titlebar #itemContainer {
  height: 35px;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
#titlebar #itemContainer .item {
  height: 35px;
  aspect-ratio: 1/1;
  background: Var(--ui-1);
  color: var(--p-1);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
  font-size: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#titlebar h1 {
  font-size: 18px;
  color: var(--p-1);
  position: absolute;
  top: calc(35px / 2);
  transform: translateY(-50%);
  left: 10px;
  margin: 0;
  padding: 0;
}